.ListWishList {
    background: none;
    border: 0;
    border-bottom: 1px solid #3f455038;
    font-size: smaller;
    display: block;
    padding: 10px 10px 0;
    text-align: left;
    width: 100%;
    text-decoration: none;
  }

  .Button__DeleteList{
    background-color: rgb(228, 228, 250);
    border: none;
    color: rgb(37, 35, 58);
    font-size: 10px;
  }
  
  .ListWishList:hover {
    cursor: pointer;
    background-color: #f7f8f9;
  }
  
  .ListWishList,
  .ListWishList:visited {
    color: #555;
  }
  
  .ListWishList__header {
    align-items: baseline;
    display: flex;
    justify-content: space-between;
  }
  .ListWishList__heading {
    margin: 0;
  }

  .ListWishList__description {
      font-style: italic;
      color: rgb(27, 32, 52)
  }
  